## Individual Project 2

### Reese Bottorff

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv("weather_2012.csv")

In [4]:
df.head(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
df.tail(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [6]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
7250,2012-10-29 02:00:00,9.2,6.6,84,26,25.0,100.82,Mostly Cloudy
7862,2012-11-23 14:00:00,10.4,1.5,54,24,48.3,99.71,Cloudy
8372,2012-12-14 20:00:00,0.8,-4.7,67,15,25.0,101.85,Mostly Cloudy
1498,2012-03-03 10:00:00,3.7,0.4,79,15,24.1,98.86,Cloudy
47,2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers

In [7]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [8]:
df.rename(columns={
    'Date/Time': 'date_time',
    'Temp (C)': 'temp_c',
    'Dew Point Temp (C)': 'dew_point',
    'Rel Hum (%)': 'relative_humidity',
    'Wind Spd (km/h)': 'wind_speed',
    'Visibility (km)': 'visibility',
    'Stn Press (kPa)': 'pressure',
    'Weather': 'weather'
}, inplace=True)

In [9]:
df

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [10]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [11]:
def Temp(celsius):
    return (celsius * 9/5) + 32

df['temp_f']=df['temp_c'].apply(Temp)

In [12]:
df

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow,32.18
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow,32.36
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow,31.10
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow,31.64
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow,32.00

In [13]:
desired_columns=['temp_f', 'temp_c'] + [col for col in df.columns if col not in ['temp_f','temp_c']]
df = df[desired_columns]

In [14]:
df

,temp_f,temp_c,date_time,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,28.76,-1.8,2012-01-01 00:00:00,-3.9,86,4,8.0,101.24,Fog
1,28.76,-1.8,2012-01-01 01:00:00,-3.7,87,4,8.0,101.24,Fog
2,28.76,-1.8,2012-01-01 02:00:00,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,29.30,-1.5,2012-01-01 03:00:00,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,29.30,-1.5,2012-01-01 04:00:00,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,32.18,0.1,2012-12-31 19:00:00,-2.7,81,30,9.7,100.13,Snow
8780,32.36,0.2,2012-12-31 20:00:00,-2.4,83,24,9.7,100.03,Snow
8781,31.10,-0.5,2012-12-31 21:00:00,-1.5,93,28,4.8,99.95,Snow
8782,31.64,-0.2,2012-12-31 22:00:00,-1.8,89,28,9.7,99.91,Snow
8783,32.00,0.0,2012-12-31 23:00:00,-2.1,86,30,11.3,99.89,Snow

In [15]:
df.columns

Index(['temp_f', 'temp_c', 'date_time', 'dew_point', 'relative_humidity',
       'wind_speed', 'visibility', 'pressure', 'weather'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   temp_f             8784 non-null   float64
 1   temp_c             8784 non-null   float64
 2   date_time          8784 non-null   object
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 617.8+ KB

In [17]:
df['date_time']=pd.to_datetime(df['date_time'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   temp_f             8784 non-null   float64
 1   temp_c             8784 non-null   float64
 2   date_time          8784 non-null   datetime64[ns]
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

In [19]:
df['weather'].nunique()

50

In [20]:
df['weather'].unique()[0:10]

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear'],
      dtype=object)

In [21]:
df.columns

Index(['temp_f', 'temp_c', 'date_time', 'dew_point', 'relative_humidity',
       'wind_speed', 'visibility', 'pressure', 'weather'],
      dtype='object')

In [22]:
df_list=df.query('temp_f>90 & relative_humidity<50 & dew_point>17 & weather=="Clear"')

In [23]:
df_list.to_csv('df_list.csv', index=False)

In [24]:
df_list=pd.read_csv('df_list.csv')
df_list

,temp_f,temp_c,date_time,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,91.04,32.8,2012-08-04 15:00:00,18.8,44,17,24.1,101.39,Clear
1,90.50,32.5,2012-08-04 16:00:00,18.5,44,15,24.1,101.34,Clear
2,90.50,32.5,2012-08-04 17:00:00,19.8,47,13,24.1,101.32,Clear

In [25]:
df['month'] = df['date_time'].dt.month

In [26]:
df

,temp_f,temp_c,date_time,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
0,28.76,-1.8,2012-01-01 00:00:00,-3.9,86,4,8.0,101.24,Fog,1
1,28.76,-1.8,2012-01-01 01:00:00,-3.7,87,4,8.0,101.24,Fog,1
2,28.76,-1.8,2012-01-01 02:00:00,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",1
3,29.30,-1.5,2012-01-01 03:00:00,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",1
4,29.30,-1.5,2012-01-01 04:00:00,-3.3,88,7,4.8,101.23,Fog,1
...,...,...,...,...,...,...,...,...,...,...
8779,32.18,0.1,2012-12-31 19:00:00,-2.7,81,30,9.7,100.13,Snow,12
8780,32.36,0.2,2012-12-31 20:00:00,-2.4,83,24,9.7,100.03,Snow,12
8781,31.10,-0.5,2012-12-31 21:00:00,-1.5,93,28,4.8,99.95,Snow,12
8782,31.64,-0.2,2012-12-31 22:00:00,-1.8,89,28,9.7,99.91,Snow,12
8783,32.00,0.0,2012-12-31 23:00:00,-2.1,86,30,11.3,99.89,Snow,12